p {
  font-size: 1.2rem;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.CharNote {
  width: 20px;
  display: inline-block;
  border: 1px solid #eee;
  box-shadow: 0 2px 5px #cccc;
  margin: 16px;
  padding: 5px;
  text-align: center;
  font-size: 1.2rem;
}

::placeholder {
  text-align: center;
}
